extends layout

block content
    h1= title       
        - var image_names= ["sm1","sm2","sm3","sm4","sm5"]            
            -for(let i=0;i<3;i++){
                - let num=Math.floor(Math.random()*5)
                 img(src= `/images/${image_names[num]}.jpg` alt="slot image", height="300", width="300")
            -}